/* CSS du test ajuelos Jordan */
textarea {
  width: 300px;
  height: 150px;
}
body { 	
		background: 
		width: 100%;
		margin: auto;
		background-color: #000000;
		background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
		} 

		.top {
			height: 500px;
			width: 1px;
			}
#cont_en_tete
{		display:flex;
		flex-wrap: nonwrap;
		justify-content: space-around;
		font-size:1.7em;
		position: fixed ;
		top:0;  
		width: 90%;
		margin-left:10%;
		margin-top: 0px;
		margin-bottom: 0px;
		padding-top: 0px;
		background-color:rgb(43, 42, 42);
		z-index: 5;
		height: 100px;
		border-bottom: 0.1px solid white;
		border-left: 0.1px solid white;
		border-right: 0.1px solid white;
		
	}

	#cont_en_tete h2 a{
		color: rgba(235, 231, 231, 1);
	background-color: none;
	text-decoration: none;
	}


#cont_nav
{		display:flex;
		flex-direction: column;
		justify-content: space-around;
		align-items:center;
		border-right: 1px solid white;
		width: 10%;
		height:400px;
		position: fixed;
		background-color:#2b3234;		
		top: 0px;
    	padding-bottom: 50000px;
    	
		
		
		
		
	}



nav iframe  {
	position: fixed;
}

#cont_section
{		
		margin-left:20%;
		margin-top: 0px;
		width: 50%;
		height: 95%;
		}
		
#cont_pied
{		display:flex;
		flex-wrap: nonwrap;
		justify-content: space-around;
		position : absolute;
		padding: 3rem 0 0;
		font-size:1em;
		width: 100%;
		margin-left:18%;
		padding-top: 0px;
		padding-bottom: 1px;
		margin-top: 0px; 
		right: 0px;
		background-color:#2d3436;
		border-top: 0.5px solid white;
		
		padding-bottom: 5px
		
	}
				
section h1 { 
	
	background-position: center left;
	background-repeat: no-repeat;
	text-shadow: 5px 5px 10px black;
	background-color: white}

article p{
	
	margin-top: 40px;
	width: 50%;
	min-width: 400px;
	border: 2px #2b3234 groove;
	border-radius: 5px;
	height: 50%;
	padding: 10px;
	background-color: rgba(250, 240, 220, 0.4);
	overflow: auto;
	word-wrap: break-word;
	max-width: 50%;
	text-align: justify;
	}
	
h1,h2,h3 ,#conteneur_en_tete, #conteneur_nav{
    color: rgba(255,255,255,1); 
	
	text-align: center;
	font-style: italic;
	}


section h2 {
	font-size: x-large;
		max-width: 60%;
		margin: auto;}
		
section h3 {
			max-width: 50%}

section ol, section ul {
	color: white;
    
	
	}

p{ color: white;
	}


#conteneur_en_tete:hover
		{background-color: rgba(255,240,255,0.9);
		font-size:2em}

h4{
	text-align: center;
	color: blanchedalmond;
	text-decoration: underline;
}

.groupe {
	display: flex;
	text-align: center;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-between;
}	
	
	
	
#vid{
	text-align: center;
}	

#case {
	margin-top: 5px ;
	text-align: center;
	border: 1px white groove;
	border-radius: 5px;
	background-color: #2b323480;
}

.carte{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}


.sound{
	display: flex;
}
.com {
	
	transform: rotate(20deg);
	display: flex;
	text-align: center;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-between;
}
.com1 {
	
	transform: rotate(-10deg);
	display: flex;
	text-align: center;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-between
}

.com2 {
	
	transform: rotate(0deg);
	display: flex;
	text-align: center;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-between;
}
.avis{
	
	text-align: center;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-between;
}

form{
	border:1px white groove;
}	
label
{
	color: white;
}
#formulaire{
	text-align: center;
	border:1px white groove;
	

}		
textarea[name=user_message]
{
 resize : none;
 min-width : 100px;
 min-height : 100px;
 max-width : 200px;
 max-height : 200px;
}	
			
mark
{ background-color: aqua;
	font-style: oblique;
	}
	
header 
{ max-height:100px;
	background-color:black
}


.presentation{
	text-align: center;
}
}

.duree {
	color: grey 
}

.mot_solo {
	font-size: large 
}

.test_parag1 {
text-align: justify 
}

.flottante { 
float: left;
font-style: italic;
font-weight: bold;
font-size: 3em; 
}

a{
	text-decoration: line;
	color: rgba(235, 231, 231, 1);
	background-color: none;
}
.dessous-video{
	text-align: center;
}
html{
	overflow-x: hidden; 
}



img{

max-width:100%

}


.slideshow{



overflow: hidden;
max-width: 600px;
margin: 2rem auto;
position: relative

}
    
.slideshow ul{

padding-bottom: 90%;/* ratio pour le responsive */
margin: 0;
list-style-type: none;
position: relative
	
	}
    
    
.slideshow li{

top: 0;
left: 0;
animation: slideshow 25s ease infinite;
position: absolute;
opacity: 0;


}

    

.slideshow li:nth-child(2){

animation-delay: 5s

}

.slideshow li:nth-child(3){

animation-delay: 10s

}

.slideshow li:nth-child(4){

animation-delay: 15s

}

.slideshow li:nth-child(5){

animation-delay: 20s

}
.slideshow li:nth-child(6){

    animation-delay: 25s
    
    }
    
    .slideshow li:nth-child(7){
    
    animation-delay: 30s
    
    }
    
    .slideshow li:nth-child(8){
    
    animation-delay: 35s
    
    }
    
    .slideshow li:nth-child(9){
    
    animation-delay: 40s
    
    }

    
@keyframes slideshow{
	
0%{opacity: 0}

10%{opacity: 1}

20%{opacity: 1}

25%{opacity: 0}

100%{opacity: 0}
	
	} 
	
	
	
	
		
		
	

		 




.imageflottante { width:30px; height:60px; float:left; clear:both ; max-width: 50%;}

.dessous {     clear: both; } 

.lien_dyna: active {background-color: white;
			font-size:3em}
.lien_dyna: visited{background-color: white;
			font-size: 2em}
			
	

